<!DOCTYPE html>
<html lang="ko"
      xmlns:th ="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>멤버리스트</title>
    <style>
        table {
            border: 1px solid black;

        }
        th {
            border: 1px solid black;
        }
        td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
<h1>회원목록</h1>
<th:block th:if="${not #strings.isEmpty(session.member)}">
    <p th:text="${session.member.memberId() + '님 환영합니다.'}"></p>
</th:block>

  <table>
      <thead>
        <tr>
            <th>번호</th>
            <th>아이디</th>
            <th>비밀번호</th>
        </tr>
      </thead>

      <tbody>
          <th:block th:each="list : ${list}">
              <tr>
                  <td th:text="${list.memberSeq()}"></td>
                  <td th:text="${list.memberId()}"></td>
                  <td th:text="${list.memberPw()}"></td>
              </tr>

          </th:block>
      </tbody>
  </table>

</body>
</html>